# Top-most editorconfig file
root=true

# UNIX-style/trailing newline for all files
[*]
end_of_line=lf
insert_final_newline=true

# Code charset indentation
[*.{sh,go,java,js,ts,py,package.json}]
charset=utf-8
indent_style=space
indent_size=2

# Tab indentation for Makefile
[Makefile]
indent_style=tab
